@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"),
    url("../fonts/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
