body {
  background-color: #eeebe6;
}

.container {
  max-width: 960px;
  margin: 120px auto 0 auto;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #2b2a2c;

  span {
    color: rgba(43, 42, 44, 0.6);
  }
}

.content-title {
  font-size: 24px;
  line-height: 120%;
  color: #2b2d33;
}

.content-subtitle {
  font-size: 17px;
  line-height: 129%;
  color: #2b2d33;
  opacity: 0.6;
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header__logo img {
  height: 72px;
}

.menu {
  height: 72px;
  width: 100%;
  border-radius: 16px;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  &.header__main {
    background-color: white;
  }

  &.navbar {
    backdrop-filter: blur(36px);
    background: #f8f6f2;
  }
}

.header__title {
  text-decoration: none;
  font-size: 14px;
  line-height: 120%;
  color: #2b2a2c;
  cursor: pointer;
  &.gray {
    opacity: 0.6;
  }
}

.header__title:hover {
  opacity: 0.6;
  transition: 0.6s;
  &.gray {
    text-decoration: underline;
  }
}

li.header__title:hover {
  opacity: 1;
}

.header__title:active {
  opacity: 1;
}

.header__info {
  display: inherit;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 72px;
  z-index: 100;
}

.navbar__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar__btn {
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background: #e9e4dd;
  font-size: 14px;
  line-height: 171%;
  color: #2b2a2c;
}

.navbar__btn:hover {
  background: #2b2a2c;
  color: #e9e4dd;
  transition: 0.8s ease;
}

.client {
  .container {
    margin-top: 56px;
  }
}

.btn-black {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 16px;
  background: #2b2a2c;
  font-size: 17px;
  line-height: 129%;
  text-align: center;
  color: #fff;
  border: none;
}

.btn-black:hover {
  background: #4c4b4d;
  transition: 0.8s ease;
}

.client__button {
  margin: 56px 0;

  .btn-black {
    padding: 19px 32px 22px 32px;
  }
}

.client__img {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 321px;
  width: 100%;
  background-color: #967d7d;
  border-radius: 32px;
  transition: transform 0.3s ease;

  .client__platform {
    margin: 0 auto;
  }

  .client__gift-1 {
    position: absolute;
    left: 131.71px;
    top: 77.1px;
  }

  .client__gift-2 {
    position: absolute;
    left: 321.43px;
    top: 105px;
    z-index: 2;
  }

  .client__card {
    position: absolute;
    left: 283.66px;
    top: 0px;
  }
}

a.client__animation img {
  transition: transform 0.3s ease;
}

a.client__animation:hover img {
  transform: translateY(-10px);
  cursor: pointer;
}

.application__form-header {
  position: relative;
  height: 320px;
  margin-top: 56px;
  background: #e9e4dd;
  border-radius: 24px;

  img {
    margin: 0 auto;
  }
}

.application__form-header-blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 184px;
  border-radius: 20px;
  padding: 32px 88px;
  backdrop-filter: blur(44px);
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blur-text {
  max-width: 120px;
  text-align: center;

  h3 {
    font-size: 60px;
    line-height: 120%;
    color: #2b2d33;
  }

  span {
    font-size: 17px;
    line-height: 129%;
    color: #2b2d33;
  }
}

.application__form-body {
  border-radius: 24px;
  padding: 4px 4px 40px 4px;
  height: 428px;
  background: #fff;
}

.application__scale {
  border-radius: 20px;
  height: 100px;
  background: #e0dbd6;
  overflow: hidden;
  position: relative;
}

.application__scale-progress {
  width: 136px;
  height: 100%;
  background: #ffe600;
  transition: width 0.5s ease-in-out;
}

.application__step {
  padding: 0px 28px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 24px;
    line-height: 120%;
    color: #2b2a2c;
  }

  div {
    display: flex;
    align-items: center;
    gap: 16px;

    div {
      border-radius: 44px;
      padding: 13px 23px;
      background: #fff;
      font-size: 17px;
      line-height: 129%;
      color: #2b2a2c;
    }
  }
}

.application__input {
  margin: 40px auto 0px auto;
  padding: 0px 96px;
  display: flex;
  flex-direction: column;

  span {
    font-size: 15px;
    line-height: 120%;
    color: #2b2a2c;

    &.condition {
      margin-top: 32px;
      text-align: center;
    }
  }

  input {
    margin-top: 8px;
    border: 1px solid #b4b1ae;
    border-radius: 16px;
    padding: 20px 16px;
    width: 760px;
    height: 64px;
  }

  button {
    margin-top: 40px;
    padding: 19px 24px 23px 24px;
    width: 100%;
    height: 64px;
  }
}

.forYou {
  h2 {
    margin: 0 auto 120px auto;
    font-size: 80px;
    line-height: 120%;
    text-align: center;
    color: #2b2a2c;
  }
}

.forYou__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.forYou__link {
  text-decoration: none;
  font-size: 22px;
  line-height: 130%;
  color: #2b2a2c;
  opacity: 0.6;
  cursor: pointer;
  &.selected {
    opacity: 1;

    div {
      border-radius: 40px;
      padding: 12px 24px 16px 24px;
      background: #e0dbd6;
    }
    &:hover {
      opacity: inherit;
    }
  }
  &:hover {
    opacity: 0.4;
  }
}

.forYou__grid {
  margin-top: 56px;
  display: none;
  &.grid__active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(277px, auto));
  }
}

.arrow-btn button {
  border: hidden;
  background: #2b2d33;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 48px;
  cursor: pointer;
  position: relative;
  z-index: 2;

  span {
    margin-top: 0px;
    color: #f8f6f2;
  }
}

.arrow-btn button:hover {
  background: #f8f6f2;
  transition: 0.8s ease;

  span {
    color: #2b2d33;
  }
}

.forYou__grid-element {
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .grid-content {
    width: 205px;
    display: flex;
    flex-direction: column;
  }

  h4 {
    font-size: 24px;
    line-height: 120%;
    color: #fff;
  }

  h5 {
    opacity: 0.6;
    font-size: 17px;
    line-height: 129%;
    color: #fff;
    margin-top: 8px;
  }

  &.light {
    background: #e0dbd6;

    h4 {
      color: #2b2d33;
    }

    h5 {
      color: #2b2d33;
    }

    .arrow-btn button {
      background: #f8f6f2;

      span {
        color: #2b2d33;
      }
    }

    .arrow-btn button:hover {
      background: #2b2d33;
      transition: 0.8s ease;

      span {
        color: #f8f6f2;
      }
    }
  }
}

#grid-2 {
  background: #5a5868;
  grid-column: 1;
  grid-row: 2/3;

  img {
    position: absolute;
    bottom: 0;
  }
}

#grid-3 {
  background: #417887;
  grid-column: 2;
  grid-row: 1/3;

  img {
    position: absolute;
    bottom: 32px;
    right: 32px;
    object-fit: cover;
  }
}

#grid-4 {
  background: #976bd5;
  grid-column: 1;
  grid-row: 3/5;

  img {
    position: absolute;
    bottom: 0;
  }
}

#grid-5 {
  background: #5a5868;

  img {
    position: absolute;
    bottom: 0;
  }
}

.mobileApp__online {
  position: relative;
  margin-top: 56px;

  img {
    border-radius: 32px;
  }
}

.mobileApp__online-content {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  padding: 32px;
  width: 600px;
  height: 356px;
  background: #e0dbd6;

  h4,
  span {
    display: block;
    max-width: 140px;
  }
}

.mobileApp__links {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 4px;

    a {
      border-radius: 16px;
      width: 72px;
      height: 48px;
      background: #343332;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin: 0 auto;
      }
    }
  }
}

.services__links {
  margin-top: 56px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  li.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.extra-links {
  display: none;
  &.link__active {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.block-link {
  display: flex;
  border-radius: 56px;
  padding: 24px 48px;
  background: #fff;
  font-size: 17px;
  line-height: 129%;
  color: #2b2a2c;
  text-decoration: none;
  &:hover {
    background: #f8f6f2;
    transition: 0.8s ease;
  }
}

.extra-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 14px 14px 14px 48px;
  background: #fee600;
  cursor: pointer;

  div {
    border-radius: 200px;
    padding: 10px 24px;
    background: #fff;
  }

  &:hover {
    background: #eedb2d;
    transition: 0.8s ease;
  }
}

.exchange__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  padding: 32px;
  width: 960px;
  height: 482px;
  background: #2b2a2c;

  h3 {
    color: #fff;
  }

  .content-subtitle {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 15px;
  }
}

.exchange__btn button {
  width: 100%;
  border-radius: 48px;
  padding: 14px 24px;
  backdrop-filter: blur(44px);
  background: #4c4b4d;
  font-size: 17px;
  line-height: 129%;
  color: #fff;
  opacity: 0.6;
  border: hidden;
  cursor: pointer;
}

.exchange__btn button:hover {
  background: #f8f6f2;
  color: #2b2d33;
  transition: 0.8s ease;
}

.currency__line {
  display: flex;

  &.heading {
    margin-bottom: 24px;
  }

  span:first-child {
    flex-basis: 52%;
  }

  span:nth-child(2) {
    flex-basis: 13%;
  }

  span:nth-child(3) {
    flex-basis: 23%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 72px;
    height: 40px;
    background: #fee600;
  }
}

.currency__header {
  font-size: 15px;
  line-height: 120%;
  color: #fff;
  opacity: 0.6;
}

.currency__body {
  font-size: 32px;
  line-height: 120%;
  color: #fff;
}

hr {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: #fff;
  opacity: 0.12;
}

.articles__wrapper {
  margin-top: 56px;

  hr {
    background: #2b2a2c;
    opacity: 0.6;
    margin-top: 24px;
  }
}

.articles__article {
  display: flex;
  justify-content: space-between;

  .arrow-btn button {
    background: #f8f6f2;

    span {
      color: #2b2d33;
    }
  }

  .arrow-btn button:hover {
    background: #2b2d33;
    transition: 0.8s ease;

    span {
      color: #f8f6f2;
    }
  }

  .content-subtitle {
    margin-top: 8px;
  }
}

.articles__more {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 24px 40px;
  text-decoration: none;

  span {
    font-size: 22px;
    line-height: 130%;
    color: #2b2a2c;
  }
  &:hover {
    background: #f8f6f2;
  }

  div {
    background: #e9e4dd;
    border-radius: 44px;
    padding: 9px 24px;
    width: 68px;
    height: 40px;
    font-size: 17px;
    line-height: 129%;
    color: #2b2a2c;
  }
}

.footer {
  margin-bottom: 120px;

  img {
    border-radius: 12px;
  }

  hr {
    background: #2b2a2c;
    opacity: 0.6;
    margin: 32px 0;
  }
}

.footer__container {
  display: flex;

  div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
}

.footer__tel {
  margin-top: 32px;

  a {
    font-size: 28px;
    line-height: 140%;
    color: #2b2d33;
    text-decoration: none;
  }
}

.footer__links .content-subtitle {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.footer__buttons {
  margin: 32px 0;
  display: flex;
  gap: 4px;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  width: 188px;
  height: 58px;
  background: #fff;
  font-size: 17px;
  line-height: 129%;
  color: #2b2d33;
  text-decoration: none;
  &:hover {
    background: #f8f6f2;
    transition: 0.8s ease;
  }
}

.footer__description p {
  font-size: 13px;
  line-height: 140%;
  color: #2b2d33;
  opacity: 0.6;
}
